* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
nav {
  background: #fff;
  height: 80px;
  width: 100%;
}
label.logo {
  color: #000;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: lighter;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #000;
  font-size: 17px;
  text-transform: capitalize;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,
a:hover {
  background: #e0315a;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
}
.checkBtn {
  color: #000;
  font-size: 30px;
  float: right;
  line-height: 80px;
  padding-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 925px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkBtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #5a5959;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-decoration: none;
  }
  nav ul li a {
    font-size: 20px;
    color: #fff;
  }
  a.active,
  a:hover {
    background: none;
    color: #e0315a;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 400px) {
  label.logo {
    padding-right: 60px;
    padding-left: 30px;
  }
}
/* End of Nav */

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/bed1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
h5 {
  font-size: 40px;
}
@media (min-width: 1000px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/bed1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}
/* End of header */
.container {
  padding-top: 60px;
}
.row1,
.row2,
.row3 {
  padding-top: 50px;
}
.col-md-4 {
  /* border: 1px solid black; */
  box-sizing: border-box;
}
.box1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/ysit3.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  height: 338px;
}
.box7 {
  background-image: url("./images/ysit3.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  height: 341px;
}
.box2,
.box8 {
  background-image: url("./images/ysit1.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  height: 341px;
}
.box3,
.box9 {
  background-image: url("./images/ysit4.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  height: 341px;
}
.box4 {
  background-image: url("./images/ybed3.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  height: 341px;
}
.box5 {
  background-image: url("./images/ybed5.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  /* border: 1px solid red; */
  width: 100%;
  height: 341px;
}
.box6 {
  background-image: url("./images/ybed30.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
  height: 341px;
}
.box1-inner {
  box-sizing: border-box;
  padding-top: 120px;
  padding-left: 30px;
  color: #fff;
}
.bx1 p {
  margin-bottom: 0px;
}
.box1-inner #p2 {
  font-size: 13px;
}
.box1-inner h5 {
  font-size: 20px;
}
.box1-inner button {
  color: #fff;
  font-size: 10px;
  background-color: #e0315a;
}
.bx1 {
  display: flex;
}
.bx1 div {
  padding-right: 5px;
  margin-bottom: 0px;
}
.bx1 div i {
  font-size: 15px;
}
@media (max-width: 1100px) {
  .box1 {
    background-image: url("./images/ysit3.png");
  }
  .box1-inner {
    box-sizing: border-box;
    padding-top: 70px;
    padding-left: 30px;
    color: #fff;
  }
}
@media (max-width: 800px) {
  .box1 {
    background-image: url("./images/ysit3.png");
  }
  .box1-inner {
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 30px;
    color: #fff;
  }
  .box1-inner #p2 {
    font-size: 9px;
  }
  .box1-inner h5 {
    font-size: 15px;
  }
  .box1-inner button {
    color: #fff;
    font-size: 7px;
    background-color: #e0315a;
  }
}
@media (max-width: 500px) {
  .box1-inner {
    box-sizing: border-box;
    padding-top: 110px;
    padding-left: 30px;
    color: #fff;
  }
}
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
  display: flex;
  align-items: flex-end;
}
.box2-inner {
  padding-left: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.bx2 {
  display: flex;
}
.bx2 div i {
  font-size: 15px;
  padding-right: 5px;
}
.bx2 p {
  margin-bottom: 0px;
}
.box2-inner #p3 {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}
@media (max-width: 1100px) {
  .box2-inner {
    padding-left: 30px;
    padding-bottom: 70px;
    color: #fff;
  }
}
@media (max-width: 800px) {
  .box2-inner {
    padding-left: 30px;
    padding-bottom: 130px;
    color: #fff;
  }
}
@media (max-width: 800px) {
  .box2-inner {
    padding-left: 30px;
    padding-bottom: 70px;
    color: #fff;
  }
}
/* End of card */
.reviews {
  padding-top: 50px;
  padding-bottom: 40px;
}
.reviews .rev {
  padding-bottom: 30px;
}
.rbtx1 {
  /* border: 1px solid black; */
  box-sizing: border-box;
  height: 300px;
  width: 120px;
}
.btx1 {
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 15px;
  background: #f2f2f2;
  height: 100%;
  width: 100%;
}
.btx1 div i,
.btx2 div i,
.btx3 div i,
.btx4 div i {
  font-size: 8px;
}
.btx2,
.btx3,
.btx4,
.btx5 {
  padding-top: 60px;
  padding-left: 15px;
  background: #f2f2f2;
}
.rbtx21,
.rbtx31,
.rbtx41,
.rbtx51 {
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 10px 0px;
  width: 400px;
  height: 300px;
}

@media (min-width: 760px) {
  .rbtx1 {
    /* border: 1px solid black; */
    box-sizing: border-box;
    height: 300px;
    width: 250px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .btx1 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 20px;
    background: #f2f2f2;
    font-size: 25px;
    height: 100%;
    width: 100%;
  }
  .btx1 div i,
  .btx2 div i,
  .btx3 div i,
  .btx4 div i {
    font-size: 10px;
  }
  .rbtx21,
  .rbtx31,
  .rbtx41,
  .rbtx51 {
    box-sizing: border-box;
    padding: 20px 0px;
    width: 550px;
    height: 300px;
  }
  .btx2,
  .btx3,
  .btx4,
  .btx5 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 25px;
    background: #f2f2f2;
    width: 100%;
    font-size: 25px;
  }
}
@media (min-width: 1000px) {
  .rbtx1 {
    padding-top: 20px;
    box-sizing: border-box;
    height: 300px;
    width: 150px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .btx1 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 15px;
    background: #f2f2f2;
    font-size: 15px;
    height: 100%;
    width: 100%;
  }
  .btx1 div i,
  .btx2 div i,
  .btx3 div i,
  .btx4 div i {
    font-size: 6px;
  }
  .rbtx21,
  .rbtx31,
  .rbtx41,
  .rbtx51 {
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 20px 0px;
    width: 400px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btx2,
  .btx3,
  .btx4,
  .btx5 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 15px;
    background: #f2f2f2;
    width: 80%;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .rbtx1 {
    padding-top: 20px;
    box-sizing: border-box;
    height: 300px;
    width: 120px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .btx1 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 15px;
    background: #f2f2f2;
    font-size: 12px;
    height: 100%;
    width: 100%;
  }
  .btx1 div i,
  .btx2 div i,
  .btx3 div i,
  .btx4 div i {
    font-size: 6px;
  }
  .rbtx21,
  .rbtx31,
  .rbtx41 {
    box-sizing: border-box;
    padding: 20px 0px;
    width: 340px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .rbtx51 {
    box-sizing: border-box;
    padding: 20px 0px;
    width: 300px;
    height: 300px;
    padding-left: 20px;
  }
  /* .rbtx21,
  img,
  .rbtx31,
  img .rbtx41,
  img .rbtx51 img {
    width: 150px;
    height: 100%;
  } */
  .btx2,
  .btx3,
  .btx4,
  .btx5 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 15px;
    background: #f2f2f2;
    width: 80%;
    font-size: 15px;
  }
  .btx2 p,
  .btx3 p,
  .btx4 p {
    font-size: 12px;
  }
  .rbtx51 {
    width: 200px;
  }
  .rbtx51 img {
    width: 160px;
  }
}

.reviews .icon {
  text-align: center;
  padding-top: 30px;
  font-size: 10px;
  padding-bottom: 30px;
}
@media (min-width: 797px) {
  .reviews .icon {
    padding-bottom: 50px;
  }
}
.reviews .icon {
  margin-right: 5px;
}
.reviews span:nth-of-type(3) {
  color: #e0315a;
}
@media (min-width: 760px) {
  .reviews .icon {
    display: flex;
    justify-content: center;
  }
  .reviews .icon span {
    margin-right: 8px;
  }
}
@media (max-width: 760px) {
  .reviews .icon {
    display: flex;
    justify-content: center;
  }
  .reviews .icon span {
    margin-right: 8px;
  }
}
.feature {
  padding-top: 40px;
}
.feat {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.figma {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
.forbe div {
  display: flex;
  padding-bottom: 0px;
}
.forbe p {
  letter-spacing: 1px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
}
.star {
  padding-top: 10px;
  padding-left: 10px;
}
.figma .marriott p {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 2px;
  padding-left: 10px;
}
@media (max-width: 500px) {
  .figma {
    padding-top: 40px;
    display: block;
    justify-content: space-around;
    padding-left: 30px;
  }
  .malb {
    padding-top: 10px;
  }
  .marriott {
    padding-top: 10px;
  }
}
@media (min-width: 760px) {
  .malb div {
    text-align: center;
  }
}
.reviews h5 {
  font-size: 20px;
}
/* End of reviews */
.footer {
  background: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer div ol li a {
  color: #000;
  line-height: 80px;
  font-size: 18px;
}
.footer div ol li a.active {
  padding: 10px 10px;
  background-color: #e0315a;
  color: #fff;
}
.footer a:hover {
  background-color: #f2f2f2;
}
@media (max-width: 500px) {
  .footer div {
    padding-left: 20px;
  }
  label.last {
    color: #000;
    font-size: 35px;
    line-height: 80px;
    font-weight: lighter;
  }
}
@media (min-width: 760px) {
  label.last {
    color: #000;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: lighter;
  }
  .footer div {
    display: flex;
  }
  .footer div ol {
    display: flex;
    align-items: center;
  }
  .footer div ol li {
    padding-left: 10px;
  }
}
@media (min-width: 1000px) {
  label.last {
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: lighter;
  }
  .footer div {
    display: flex;
  }
  .footer div ol {
    display: flex;
    align-items: center;
  }

  .footer div ol li a {
    color: #000;
    line-height: 80px;
    font-size: 20px;
  }
  .footer div ol li {
    padding-left: 40px;
  }
}
@media (min-width: 1200px) {
  label.last {
    color: #000;
    font-size: 45px;
    line-height: 80px;
  }
  .footer div {
    display: flex;
    justify-content: space-between;
  }
  .footer div ol {
    display: flex;
    align-items: center;
    padding-right: 50px;
  }
  .footer div ol li {
    padding-left: 55px;
  }
  .footer div ol li a {
    color: #000;
    line-height: 80px;
    font-size: 15px;
  }
  .footer {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .footer div {
    padding-top: 100px;
  }
}
